* {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  all: unset;
}

body {
  background-color: #fff;
}

:root {
  --green-white: #EBFFE4;
  --black: #051101;
  --green: #5CBE3A;
  --gray: #E5F2E1;
  --white: #F6FFF3;
  --index: calc(1vw + 1vh);
}

.container {
  margin: 0 calc(var(--index) * 8);
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav-menu {
  display: flex;
}

.nav-menu-text {
  margin: 0 20px;
  font-weight: 500;
  font-size: calc(var(--index) * 0.7);
  opacity: 0.6;
}

.active {
  opacity: 1;
}

.btn {
  border: 2px solid var(--green);
  border-radius: 8px;
  padding: calc(var(--index) * .4) calc(var(--index) * .8);
  text-transform: uppercase;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
  font-size: calc(var(--index) * .7);
  font-weight: 500;
  transition: all 1s;
}

.btn:hover {
  background-color: #fff;
  color: var(--green);
}

/* hedear */

header {
  height: 100vh;
  background-color: var(--green-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
}

.btn-while {
  border: 2px solid var(--green);
  border-radius: 8px;
  padding: calc(var(--index) * .4) calc(var(--index) * .8);
  text-transform: uppercase;
  background-color: #fff;
  color: var(--green);
  cursor: pointer;
  font-size: calc(var(--index) * .7);
  font-weight: 500;
  transition: all 1s;
}

.btn-while:hover {
  background-color: var(--green);
  color: #fff;
}

.header-text-green, 
.price,
.header-btns,
.header-statistics {
  display: flex;
  align-items: center;
}

.header-text-green p{
  color: var(--green);
  margin-right: 8px;
  font-size: calc(var(--index) * .6);
  font-weight: 600;
  text-transform: uppercase;
}

.header-title {
  font-weight: 700;
  font-size: calc(var(--index) * 2);
  margin-top: calc(var(--index) / 3);
  margin-bottom: calc(var(--index) / 2);
}

.header-text {
  opacity: 0.7;
  font-size: calc(var(--index) * .5);
  margin-bottom: calc(var(--index) / 2);
}

.header-text span {
  color: var(--green);
}

.price {
  margin-bottom: calc(var(--index) * 0.8);
}

.price p {
  color: var(--green);
  font-size: calc(var(--index) * 1.2);
  font-weight: 700;
  margin-right: calc(var(--index) * 1.2);
}

.price del {
  color: var(--green);
  font-size: calc(var(--index) * 0.8);
  font-weight: 600;
  text-decoration: line-through;
  opacity: 0.7;
  margin-bottom: -10px;
}

.btn-learn {
  margin-left: calc(var(--index) * 1);
}

.statistics {
  text-align: center;
  margin-top: calc(var(--index) * 2);
}

.num {
  color: var(--green);
  font-weight: 700;
  font-size: calc(var(--index) * 3);
  margin-right: calc(var(--index) * 1);
}

.statistics-text {
  font-weight: 500;
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-top: 5px;
}