* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #fff;
}

:root {
  --green-white: #EBFFE4;
  --black: #051101;
  --green: #5CBE3A;
  --gray: #E5F2E1;
  --white: #F6FFF3;
}

/* Navbar */

.navbar-nav {
  margin: auto;
}

.nav-link {
  position: relative;
  font-size: 1.2rem;
  color: var(--black);
  opacity: 0.6;
  font-weight: 500;
}

.nav-link:hover {
  opacity: 1;
  transition: all .5s;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background-color: var(--green);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.active {
  opacity: 1;
}

.btn-nav {
  background-color: var(--green);
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 500;
  transition: all .5s;
}

.btn-nav:hover {
  background-color: var(--green);
  color: #fff;
  font-weight: 600;
  box-shadow: 7px 7px 10px 0 var(--gray);
}

.navbar-toggler {
  border: none;
}

.menu {
  font-size: 2rem;
  color: var(--black);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 var(--green);
}

/* header */

header {
  height: 100vh;
  background: var(--green-white);
}