* {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
  font-weight: 400;
}

body {
  background-color: #fff;
}

:root {
  --green-white: #EBFFE4;
  --black: #051101;
  --green: #5CBE3A;
  --gray: #E5F2E1;
  --white: #F6FFF3;
}