* {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  all: unset;
}

body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

:root {
  --green-white: #EBFFE4;
  --black: #051101;
  --green: #5CBE3A;
  --gray: #E5F2E1;
  --white: #F6FFF3;
  --index: calc(1vw + 1vh);
}

.container {
  margin: 0 calc(var(--index) * 8);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* nav */

.nav-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.nav-mobile-menu-btn {
  font-size: calc(var(--index) * 2);
  color: var(--black);
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav-menu {
  display: flex;
}

.nav-logo {
  width: calc(var(--index) * 3.5);
}

.nav-menu-text {
  margin: 0 20px;
  font-weight: 500;
  font-size: calc(var(--index) * 0.7);
  opacity: 0.6;
}

.nav-menu-text a {
  transition: all .5s;
  position: relative;
}

.active {
  opacity: 1;
}

.nav-menu-text a:hover {
  color: var(--green);
}

.nav-menu-text a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: var(--green);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.btn {
  border: 2px solid var(--green);
  border-radius: 8px;
  padding: calc(var(--index) * .4) calc(var(--index) * .8);
  text-transform: uppercase;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
  font-size: calc(var(--index) * .7);
  font-weight: 500;
  transition: all 1s;
}

.btn:hover {
  background-color: #fff;
  color: var(--green);
}

.nav-mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #05110141;
  z-index: 100;
  opacity: 0;
  right: -100%;
  transition: opacity 0.5s ease-in-out;
}

.show-bg {
  right: 0;
  opacity: 1;
}

.nav-mobile-menu-right {
  position: relative;
  margin-left: auto;
  background-color: #fff;
  width: 25vw;
  height: 100vh;
  right: -100%;
  opacity: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show {
  right: 0;
  opacity: 1; /* закінчення анімації - зміна opacity на 1 */
}

.nav-mobile-menu-right-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav-mobile-menu-right-nav-close {
  font-size:  calc(var(--index) * 1.5);
  cursor: pointer;
}

.nav-mobile-menu-right-menu-text a {
  display: block;
  padding: 8px 0 ;
  padding-left: 15px;
}

.nav-mobile-menu-right-menu-text a:hover {
  border-left: 3px solid var(--green);
  transition: all .2s;
}

.active-mobile {
  border-left: 3px solid var(--green);
}

/* hedear */

header {
  height: 100vh;
  background-color: var(--green-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78vh;
}

.btn-while {
  border: 2px solid var(--green);
  border-radius: 8px;
  padding: calc(var(--index) * .4) calc(var(--index) * .8);
  text-transform: uppercase;
  background-color: #fff;
  color: var(--green);
  cursor: pointer;
  font-size: calc(var(--index) * .7);
  font-weight: 500;
  transition: all 1s;
}

.btn-while:hover {
  background-color: var(--green);
  color: #fff;
}

.header-text-green, 
.price,
.header-btns,
.header-statistics {
  display: flex;
  align-items: center;
}

.header-text-green p{
  color: var(--green);
  margin-right: 8px;
  font-size: calc(var(--index) * .6);
  font-weight: 600;
  text-transform: uppercase;
}

.header-text-green-logo {
  width: calc(var(--index) * 1.8);
}

.header-title {
  font-weight: 700;
  font-size: calc(var(--index) * 2);
  margin-top: calc(var(--index) / 3);
  margin-bottom: calc(var(--index) / 2);
}

.header-text {
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-bottom: calc(var(--index) / 2);
}

.header-text span {
  color: var(--green);
}

.price {
  margin-bottom: calc(var(--index) * 0.8);
}

.price p {
  color: var(--green);
  font-size: calc(var(--index) * 1.2);
  font-weight: 700;
  margin-right: calc(var(--index) * 1.2);
}

.price del {
  color: var(--green);
  font-size: calc(var(--index) * 0.8);
  font-weight: 600;
  text-decoration: line-through;
  opacity: 0.7;
  margin-bottom: -10px;
}

.btn-learn {
  margin-left: calc(var(--index) * 1);
}

.statistics {
  text-align: center;
  margin-top: calc(var(--index) * 2);
}

.num {
  color: var(--green);
  font-weight: 700;
  font-size: calc(var(--index) * 3);
  margin-right: calc(var(--index) * 1);
}

.statistics-text {
  font-weight: 500;
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-top: 5px;
}

.header-right img {
  width: calc(var(--index) * 25);
}

/* LATEST */

.latest-title {
  text-align: center;
  font-size: calc(var(--index) * 1.5);
  font-weight: 700;
  margin-top: calc(var(--index) * 6);
}

.latest-text {
  text-align: center;
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-top: calc(var(--index) / 2);
}

.latest-carts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-cart {
  text-align: center;
}

.latest-cart img {
  width: calc(var(--index) * 14);
}

.latest-cart h3 {
  font-weight: 500;
  font-size: calc(var(--index) * 0.9);
  text-transform: uppercase;
  margin-top: 15px;
}

.latest-cart p {
  font-weight: 700;
  font-size: calc(var(--index) * 0.8);
  margin-bottom: 10px;
}

.latest-cart-star {
  margin: 5px 0;
}

.star {
  color: #F1E809;
  font-size: calc(var(--index) * 0.9);
}

.star-none {
  color:  #EDEBB9;
  font-size: calc(var(--index) * 0.9);
}

/* about */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--index) * 9);
}

.about-left {
  position: relative;
  background-color: #F6FFF3;
  border-radius: 10px;
  padding: calc(var(--index) * 4) calc(var(--index) * 2);
  margin-right: calc(var(--index) * -5);
  padding-right: calc(var(--index) * 5);
  width: calc(var(--index) * 22);
  height: calc(var(--index) * 16);
  z-index: 2;
}

.about-left h2 {
  font-size: calc(var(--index) * 1.5);
  font-weight: 700;
}

.about-left p {
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-top: calc(var(--index) / 2);
}

.view {
  position: absolute;
  transform: rotate(-90deg);
  font-size: calc(var(--index) * 5);
  font-weight: 700;
  left: calc(var(--index) * 3.2);
  color: #E5F2E1;
}

.about-right {
  z-index: 10;
}

.about-right a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right img {
  width: calc(var(--index) * 20);
  border-radius: 10px;
}

.play {
  position: absolute;
}

.play-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--green);
  height: calc(var(--index) * 3);
  width: calc(var(--index) * 3);
  border-radius: 50%;
}

.play-logo ion-icon{
  position: absolute;
  color: #fff;
  font-size: calc(var(--index) * 1.8);
  margin-right: -3px;
}

.best {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--index) * 9);
}

.best-img img {
  width: calc(var(--index) * 20);
}

.best-text-title {
  font-size: calc(var(--index) * 1.5);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 1.5);
}

.best-text-li {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--index) * 1);
}

.best-text-img {
  width: calc(var(--index) * 1.5);
}

.best-text-li p {
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-left: calc(var(--index) / 2);
}

.best-text {
  margin-left: calc(var(--index) * 2);
  position: relative;
}

.best-bg img {
  width: calc(var(--index) * 20);
}

.best-bg {
  position: absolute;
  margin-top: 20px;
  z-index: -1;
}

.best-img {
  position: relative;
  border-radius: 10px;
}

.best-img-border {
  position: absolute;
  border: 15px solid var(--gray);
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 18);
  border-radius: 10px;
  bottom: 30px;
  right: 30px;
  z-index: -1;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--index) * 9);
}

.reviews-btns {
  text-align: center;
}

.point {
  font-size: calc(var(--index) * .8);
  color: #5bbe3a62;
  cursor: pointer;
  transition: all .2s;
}

.point-active {
  color: var(--green);
  transition: all .2s;
}

.arrow {
  color: var(--green);
  font-size: calc(var(--index) * 1.2);
  cursor: pointer;
}

.reviews-arrow {
  margin-bottom: calc(var(--index) * 1);
}

.reviews-arrow-left {
  margin-right: calc(var(--index) * .6);
}

.reviews-scroll {
  margin-top: calc(var(--index) * 1);
}

.review {
  display: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: calc(var(--index) * 22);
  margin-left: calc(var(--index) * 6);
  padding: calc(var(--index) * 3) calc(var(--index) * 3);
  transition: all .2s;
}

.review-active {
  display: block;
  transition: all .2s;
}

.review h3 {
  font-weight: 700;
  font-size: calc(var(--index) * 1.2);
  transition: all .2s;
}

.review-avatar {
  display: flex;
  margin-top: calc(var(--index) * 1);
}

.review-avatar-text {
  margin-left: calc(var(--index) * 1);
}

.review-avatar-name {
  font-weight: 600;
  font-size: calc(var(--index) * 0.8);
  transition: all .2s;
}

.review-avatar-review {
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin: calc(var(--index) * .8) 0;
  transition: all .2s;
}

.review-avatar-img img {
  width: calc(var(--index) * 3);
  border-radius: 50%;
  transition: all .2s;
}

.subescribe {
  padding: calc(var(--index) * 3);
  background-color: #97dd8083;
  text-align: center;
  margin-top: calc(var(--index) * 9);
  border-radius: 12px;
}

.subescribe h2 {
  font-size: calc(var(--index) * 1.5);
  font-weight: 700;
  margin: calc(var(--index) * .8) 0;
}

.subescribe p {
  opacity: 0.7;
  font-size: calc(var(--index) * .6);
  margin-left: calc(var(--index) / 2);
  margin-bottom: calc(var(--index) * .8);
}

.footer {
  border-top: 1px solid var(--gray);
  margin-top: calc(var(--index) * 3);
  border-bottom: 15px solid var(--green);
  padding-bottom: calc(var(--index) * 1);
}

.social {
  display: flex;
  align-items: center;
}

.social p {
  font-size: calc(var(--index) * .8);
  font-weight: 700;
  margin-right: calc(var(--index) * .2);
}

.social-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  height: calc(var(--index) * 1.6);
  width: calc(var(--index) * 1.6);
  border-radius: 50%;
  margin: 0 calc(var(--index) * .2);;
}

.social-img img {
  height: calc(var(--index) * .6);
}

@media all and (max-width: 800px) {
  .nav-mobile {
    display: flex;
  }
  .navbar {
    display: none;
  }
  .container {
    margin: 0 calc(var(--index) * 4);
  }
  .nav-mobile-menu-right {
    width: 50vw;
  }
  .about, .subescribe, .reviews {
    margin-top: calc(var(--index) * 9);
  }
  .best {
    margin-top: calc(var(--index) * 9);
  }
}

@media all and (max-width: 650px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .header-text-green, .price, .header-btns, .header-statistics {
    justify-content: center;
  }
  .header-text-green p {
    font-size: calc(var(--index) * 1);
  }
  .header-text-green-logo {
    width: calc(var(--index) * 3);
  }
  .header-title {
    font-size: calc(var(--index) * 2.5);
  }
  .header-text {
    font-size: calc(var(--index) * .9);
  }
  .price p {
    font-size: calc(var(--index) * 2);
  }
  .price del {
    font-size: calc(var(--index) * 1.6);
  }
  .btn, .btn-while {
    font-size: calc(var(--index) * 1.2);
    padding: calc(var(--index) * .6) calc(var(--index) * 1);;
  }
  .num {
    font-size: calc(var(--index) * 3.8);
  }
  .statistics-text {
    font-size: calc(var(--index) * .9);
  }
  .nav-mobile-menu-right {
    width: 75vw;
  }
  .latest-carts {
    flex-direction: column;
  }
  .latest-title {
    font-size: calc(var(--index) * 2);
  }
  .latest-text {
    font-size: calc(var(--index) * .9);
  }
  .latest-cart img {
    width: calc(var(--index) * 20);
  }
  .star, .star-none, .latest-cart p, .latest-cart h3{
    font-size: calc(var(--index) * 1.5);
  }
  .about {
    flex-direction: column;
  }
  .about-left {
    margin: 0;
    text-align: center;
    padding: calc(var(--index) * 4) calc(var(--index) * 2);
    margin-bottom: calc(var(--index) * -4);
    width: calc(var(--index) * 28);
  }
  .about-left h2 {
    font-size: calc(var(--index) * 2);
  }
  .about-left p {
    font-size: calc(var(--index) * .9);
  }
  .about-right img {
    width: calc(var(--index) * 26);
  }
  .view {
    display: none;
  }
  .best, .reviews {
    flex-direction: column-reverse;
  }
  .best-text-title {
    font-size: calc(var(--index) * 2);
    text-align: center;
  }
  .best-text-li p { 
    font-size: calc(var(--index) * .9);
  }
  .best-img img {
    width: calc(var(--index) * 26);
  }
  .best-img-border {
    display: none;
  }
  .review {
    margin: 0;
    margin-bottom: calc(var(--index) * 1.4);
  }
  .review h3 {
    font-size: calc(var(--index) * 1.8);
  }
  .review {
    width: calc(var(--index) * 28);
  }
  .review-avatar-img img {
    width: calc(var(--index) * 4);
  }
  .review-avatar-name {
    font-weight: 600;
    font-size: calc(var(--index) * 1.4);
  }
  .review-avatar-review {
    font-size: calc(var(--index) * .9);
  }
  .subescribe h2 {
    font-size: calc(var(--index) * 2);
  }
  .subescribe p {
    font-size: calc(var(--index) * .9);
  }
  .point {
    font-size: calc(var(--index) * 1.6);
  }
  .arrow {
    font-size: calc(var(--index) * 1.8);
  }
}
